.container {
display: flex;
flex-direction: column;
gap: 24px;
}
.title{
    color: #000;
font-family: Sen;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.content{
    border-radius: 50px;
    background: #F3F3FB;
    
    display: flex;
  
    padding: 80px;
   
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
    flex-wrap: wrap;
}